@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

body{
  background-color: #153084;
}

.center-container{
  position: absolute;
  width: 1010px;
  height: 650px;
  left: 250px;
  top: 25px;
  background: #ffffff;
  border-radius: 44px;
}

.center-container-main-heading{
  position:absolute;
  left:70px;
  top:25px;
}

.learning-style-sub-heading{
    position: absolute;
    width: 339px;
    height: 28px;
    left: 75px;
    top: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #726C6C;
}

.icon-container{
  position:absolute;
  left:850px;
  top:50px;
  font-size:25px;
}

.profile{
  position:absolute;
  top:0px;
  left:50px;
}


.LearningStyleQuestionContainer {
    background-color: #EEEDED;
    position: absolute;
    width: 850px;
    min-height: 350px;
    height: min-content;
    left: 80px;
    top: 230px;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .score-section {
    display: flex;
    color: black;
    font-size: 24px;
    align-items: center;
  }
  
  /* QUESTION/LEFT SECTION */
  .question-section {
    width: 100%;
    position: absolute;
    left:40px;
  }
  
  .question-count {
    margin-bottom: 20px;
    color: black;
  }
  
  .question-count span {
    font-size: 28px;
    color: black;
  }
  
  .question-text {
    margin-bottom: 12px;
    color: black;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    position: absolute;
    top:120px;
    left:20px;
    bottom:50px;
    width: 95%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .choose-answer-option button { 
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 7px;
    justify-content: flex-start;
    align-items: center;
    border: none ;
    cursor: pointer;
  }
  
  
  
  .choose-answer-option button:hover {
    background-color: #555e7d;
  }
  
 .choose-answer-option button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }