.ResetPassword{
    background-image: url("./images/white-background.png");
    background-repeat: no-repeat;
    width:100%;
    min-height: 120vh;
    background-size: cover;
}

.reset-password-container{
    position: absolute;
    width: 500px;
    height: 600px;
    left: 410px;
    top: 55px;
    background: #F5F5F5;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    }

.reset-password-image img {
    
    position: absolute;
    width: 210px;
    height: 130px;
    left: 145px;
    top: 30px;
    border-radius:50px;
}   

.reset-password-heading{
    position:absolute;
    top:170px;
    left:160px;
}

.reset-password-sub-heading{
    position:absolute;
    top:200px;
    text-align:center;
    margin:20px;
    color:#696969;
}

.text-input input{
    position:absolute;
    top:290px;
    left:40px;
}

.reset-password-button button{
    position:absolute;
    top:375px;
    left:40px;
    padding:16px 156px;
    border:none;
    background: #6AA1D4;
    color:#FDF2F2;
    border-radius: 50px;
    
}

.reset-password-button button:hover{
    background: #2f7dc7;
    transition:ease all 0.5s;
}

.reset-password-line1{   
    position: absolute;
    width: 160px;
    height: 0px;
    left: 45px;
    top: 450px;
    border: 1px solid #928f8f;
}

.or-word p{
    position: absolute;
    top:423px;
    left:231px;
    color:#928f8f;
}

.reset-password-line2{   
    position: absolute;
    width: 160px;
    height: 0px;
    left: 280px;
    top: 450px;
    border: 1px solid #928f8f;
}

.go-to-sign-up{
    position:absolute;
    top:475px;
    left:165px;
    text-decoration: none;
    color:#696969;
    font-weight: 600;  
}

.go-to-sign-in{
    position:absolute;
    top:520px;
    left:41px;
    padding:14px 154px;
    border:none;
    font-size: 14px;
    background: #F5F5F5;
    border: 1px solid #9A9898;
    color:#696969;
    text-decoration:none;
    border-radius: 50px;
}
.go-to-sign-in:hover{
    background:#6AA1D4;
    color:#F5F5F5;
    transition:ease all 0.5s;
}