@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
   font-family: 'Poppins', sans-serif;
 }

.main-sign-up{
    text-align: center;
    background-image: url("./images/white-background.png");
    background-repeat: no-repeat;
    width:100%;
    min-height: 120vh;
    background-size: cover;
 }

.sign-up-pic{
   background-image:url("./images/SignUpPage/SignUp_pic.png");
   position:absolute;
   background-repeat: no-repeat;
   width: 1044px;
   height: 637px;
   left: 20px;
   top: 10px;
}

.sign-up-container{
   position:absolute;
   width: 460px;
   height: 640px;
   left: 810px;
   top: 60px;
   background: #F5F5F5;
   box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 50px;
}
.container-heading-section img{
   position:absolute;
   width:50px;
   height:auto;
   top:40px;
   left:60px;
}
.container-heading{
   font-size:48px;
}

.sign-up-sub-container{
   position:absolute;
   width:460px;
   height:70px;
   left:810px;
   top:720px;
   background:#F5F5F5;
   box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   border-radius: 50px;
}

#course-dropdown-list{
   padding: 15px 20px;
   margin-bottom:20px;
   border-radius: 30px;
   outline: none;
   border: 1px solid #d6d1d5;
}

#course-dropdown-list option{
   text-align:center;
}

#gender-dropdown-list{
   padding: 15px 145px;
   margin-bottom:20px;
   border-radius: 30px;
   outline: none;
   border: 1px solid #d6d1d5;
}



.sign-up-sub-container p{
   color: #3a3a3a;
   font-size:15px;
   font-weight:600;
   margin-top:23px;
   
 }

.sign-up-sign-up-link{
   color:rgb(41, 41, 255);
   text-decoration:none;
 }
 
.sign-up-sign-up-link:hover{
   color:rgb(110, 119, 245);
   transition:0.5s all;
}

.policy-text p{
   position: absolute;
   width: 460px;
   height: 43px;
   left: 6px;
   top: 550px;
   font-weight: bold;
   font-size: 15px;
   line-height: 20px;
   text-align: center;
   color: #717070;
}
 