
.Teacher-report-container {
    position:absolute;
    top:65px;
    right:430px;
   
}


.Teacher-report-image {
  display: block;
  width: 100%;
  height: auto;
  width: 350px;
  height:220px;
  border-radius:10px;
}

.report-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8832a7;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius:10px;
}

.Teacher-report-container:hover .report-overlay {
  height: 100%;
}

.report-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.report-text-link button{
  background-color: rgb(32, 31, 31);
  color:antiquewhite;
  outline:none;
  border:none;
  margin-top:10px;
  padding:10px;
  border-radius:10px;
}

.report-text-link button .teacher-report-button{
  text-decoration: none;
  color:aliceblue;
}

.report-text-link button:hover{
  background: rgb(95, 95, 95);
  transition: .5s ease;
  color:rgb(214, 207, 207);
  transition: .5s ease;
  font-weight: bold;
}

.article-main-heading{
  position:absolute;
  top:260px;
  right:290px;
}

.article-container .item1{
  position:absolute;
  top:340px;
  right:580px;
  width:200px;
  height:250px;
  background:linear-gradient(0deg,black,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),url(../src/images/TeacherFeedbackPage/VisualLearnerBlogPic.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:10px;
}

.article-container .item1 h6{
  position:absolute;
  bottom:10px;
  left:5px;
  font-size:12px;
  text-align:center;
  color:#fff;
}

.article-container .item2 h6{
  position:absolute;
  bottom:10px;
  left:5px;
  font-size:12px;
  text-align:center;
  color:#fff;
}

.article-container .item3 h6{
  position:absolute;
  bottom:-7px;
  left:5px;
  text-align:center;
  font-size:12px;
  color:#fff;
}

.article-container .item4 h6{
  position:absolute;
  bottom:10px;
  left:5px;
  text-align:center;
  font-size:12px;
  color:#fff;
}





.article-container .item2{
  position:absolute;
  top:340px;
  right:360px;
  width:210px;
  height:250px;
  background:linear-gradient(0deg,black,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),url(../src/images/TeacherFeedbackPage/AuditoryLearnerBlogPic.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:10px;
}

.article-container .item3{
  position:absolute;
  top:340px;
  right:140px;
  width:210px;
  height:250px;
  background:linear-gradient(0deg,black,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),url(../src/images/TeacherFeedbackPage/ReadingLearnerBlogPic.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:10px;
}

.article-container .item4{
  position:absolute;
  top:340px;
  right:-80px;
  width:210px;
  height:250px;
  background:linear-gradient(0deg,black,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),url(../src/images/TeacherFeedbackPage/KinesteticLearnerBlogPic.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:10px;
}

.blog-one-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #a73232;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius:10px;
}

.item1:hover .blog-one-overlay {
  height: 100%;
}

.blog-one-text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-one-text-link button{
  background-color: rgb(32, 31, 31);
  color:antiquewhite;
  outline:none;
  border:none;
  font-size:12px;
  margin-top:5px;
  padding:8px 30px;
  border-radius:10px;
}

.blog-one-text-link button .blog-one-button{
  text-decoration: none;
  color:aliceblue;
}

.blog-one-text-link button:hover{
  background: rgb(95, 95, 95);
  transition: .5s ease;
  color:rgb(214, 207, 207);
  transition: .5s ease;
  font-weight: bold;
}


/* item 2 styling*/

.blog-two-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d47f00;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius:10px;
}

.item2:hover .blog-two-overlay {
  height: 100%;
}

.blog-two-text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-two-text-link button{
  background-color: rgb(32, 31, 31);
  color:antiquewhite;
  outline:none;
  border:none;
  font-size:12px;
  margin-top:5px;
  padding:8px 30px;
  border-radius:10px;
}

.blog-two-text-link button .blog-two-button{
  text-decoration: none;
  color:aliceblue;
}

.blog-two-text-link button:hover{
  background: rgb(95, 95, 95);
  transition: .5s ease;
  color:rgb(214, 207, 207);
  transition: .5s ease;
  font-weight: bold;
}

/* item 3 styling*/

.blog-three-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #247b0a;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius:10px;
}

.item3:hover .blog-three-overlay {
  height: 100%;
}

.blog-three-text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-three-text-link button{
  background-color: rgb(32, 31, 31);
  color:antiquewhite;
  outline:none;
  border:none;
  font-size:12px;
  margin-top:5px;
  padding:8px 30px;
  border-radius:10px;
}

.blog-three-text-link button .blog-three-button{
  text-decoration: none;
  color:aliceblue;
}

.blog-three-text-link button:hover{
  background: rgb(95, 95, 95);
  transition: .5s ease;
  color:rgb(214, 207, 207);
  transition: .5s ease;
  font-weight: bold;
}

/* item 4 styling*/

.blog-four-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3680d4;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius:10px;
}

.item4:hover .blog-four-overlay {
  height: 100%;
}

.blog-four-text {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-four-text-link button{
  background-color: rgb(32, 31, 31);
  color:antiquewhite;
  outline:none;
  border:none;
  font-size:12px;
  margin-top:5px;
  padding:8px 30px;
  border-radius:10px;
}

.blog-four-text-link button .blog-four-button{
  text-decoration: none;
  color:aliceblue;
}

.blog-four-text-link button:hover{
  background: rgb(95, 95, 95);
  transition: .5s ease;
  color:rgb(214, 207, 207);
  transition: .5s ease;
  font-weight: bold;
}


